// Today Pane
#today-pane-panel {
  // Use a consistent font
  * {
    font-family: -apple-system;
  }

  // Vibrant appearance
  #agenda-listbox {
    -moz-appearance: -moz-mac-vibrancy-light;
  }
}

// Flatten all calendar items
.calendar-color-box {
  background-image: none;
  border-radius: 0;
}
