$tree-row: "treechildren::-moz-tree-row";
$tree-cell: "treechildren::-moz-tree-cell";
$tree-cell-text: "treechildren::-moz-tree-cell-text";

#threadTree {
  $collapsed-thread: "(container, closed, hasUnread)";

  #{$tree-row} {
    height: 34px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
  }

  #{$tree-cell}(unread),
  #{$tree-cell}#{$collapsed-thread} {
    background-color: #ffffff;
  }

  #{$tree-cell}(selected, focus) {
    background-color: Highlight;
  }

  #{$tree-cell-text} {
    font-size: 12px;
  }

  #{$tree-cell-text}#{$collapsed-thread} {
    text-decoration: none;
    font-weight: bold;
  }
}
